@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');
@font-face {
    font-family: 'TTOctosquares';
    src: url('statics/fonts/tt_octosquares/TT Octosquares Trial Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #0a0a1f;
    --text-color: #ffffff;
    --highlight-color: #9c60c7;
    --secondary-color: #4b0082;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
    position: relative;
    background-color: #180a30;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('statics/imgs/background3.jpg');
    background-size: cover;
    opacity: 0.2; /* This makes the background image 20% visible */
    z-index: -1;
}

/* Ensure other elements are above the background */
main, h1, h2, h3, #about, .profile-photo, #sobre-mi, .stats, .skills-grid, .job, #contacto, .hobbies-icons {
    position: relative;
    z-index: 1;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 80px;
}
h1, h2, h3 {
    font-family: 'TTOctosquares', sans-serif;
}

h2 {
    color: var(--highlight-color);
    border-bottom: 2px solid var(--highlight-color);
    padding-bottom: 10px;
    margin-top: 40px;
}
p{
    font-size: 28px;
    text-align: justify;
}
/*section {
    margin: 40px; /* Agrega 40px de espacio entre las secciones 
}
*/
#about{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#about > .section{
    max-width: 50%;
}
.highlight {
    color: var(--highlight-color);
}

.profile-photo {
    width: 500px;
/*  max-width: 800px;*/
    height: auto;
    border-radius: 50%;
}
#sobre-mi {
    gap: 20px; /* add a 20px gap between columns */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#sobre-mi > .sub-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 80px;
}
#sobre-mi > .sub-section > .column{
    max-width: 50%;
}
.stats {
    font-family: 'TTOctosquares', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns, each taking 1 fractional unit */
    gap: 10px; /* add a 10px gap between stat items */
}

.stat-item {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

.stat-item span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: var(--highlight-color);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-category {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.skill-category img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.skill-category ul {
    list-style-type: none;
}

.job {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.job ul {
    list-style-type: none;
    padding-left: 20px;
}

.job li {
    margin-bottom: 10px;
    position: relative;
}

.job li::before {
    content: '•';
    color: var(--highlight-color);
    position: absolute;
    left: -20px;
}

#contacto ul {
    list-style-type: none;
}

#contacto li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#contacto img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.hobbies-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.hobbies-icons img {
    width: 40px;
    height: 40px;
}